* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#des{
    
   
    background: linear-gradient(rgb(40, 42, 45),rgba(11, 36, 110, 0.399)),url('src/assets/photos/035244_1f9f5504879f46cc90c68e323a18ea59~mv2_d_1920_3986_s_2 copy.webp');
    background-size: cover;
    background-position: center;
    height:100vh;

}
.container {

    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    
    
}

.text-1, .text-2, .text-3 {

    position:relative; 
    max-width: 300px; 
     width: 100%; 
     color:  rgba(255, 255, 255, 0.723);
   

}

.text-1 {  
    position: absolute;
    top: 25vh; 
    left: 60%; ;
} 

.text-2 { top: 8%; right: 0%;}
.text-3 { top: 35%; left:11%; }




.sub{
    color:  #0bf351b8;
    
}

.container span,h2{
    color:  rgba(255, 255, 255, 0.723);
}
.container img{
    width: auto;
    height: 100%;
}


.vertical-line {


    position: absolute;
    width: 2.5px;
    height: 100%;
    background-color: #0bf350;
    left: 50%;
    /* transform: translateX(-50%); */
}

.circle-1, .circle-2, .circle-3 {

    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #0bf350;
    border-radius: 50%;
}

.circle-1 { top: 20%; left: 50%; transform: translate(-50%, -50%); }
.circle-2 { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.circle-3 { top: 80%; left: 50%; transform: translate(-50%, -50%); }





/*section2*/

#graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(40, 42, 45), rgba(11, 36, 110, 0.399)), url('src/assets/photos/laptop-2558400_1280 copy.jpg');
    background-size: cover; 
    height: 100vh;
    
}
#graph h1{
    color:  rgba(255, 255, 255, 0.723);
    padding-bottom: 10%;

}


.subject1,
.subject2,
.subject3,
.subject4,
.subject5 {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}


 .div1, .div2, .div3, .div4, .div5 {
    width: 80%; 
    margin-left: 20px; 
    

} 
.div1 { width: 20rem; margin-left: 30px; }
.div2 { width: 23rem; margin-left: 77px; }
.div3 { width: 50%; }
.div4 { width: 20%; }
.div5 { width: 55%; }

li{
    list-style: none;
    color:  rgba(255, 255, 255, 0.723);
}
.percentage{
    margin-left: 25rem;
}
@media (max-width: 650px) {
   

    .text-1, .text-2, .text-3 {
        
          word-wrap:break-word
      }
     
      .text-2{
          left: 5px;
      } 
      
     
     
      #graph {
          text-align: center;
      }
  
      .text_oerlay {
          width: 90%;
      }
  
  
      .percentage {
          margin-left: 0;
          
    
  
  } 
  }

